In [1]:
#Import packages
import numpy as np
import pandas as pd
import os

In [2]:
#Path
os.chdir("D:\\DS\\Python DS\\Sample\\Loan Prediction Dataset\\")

In [3]:
#dataset
loan=pd.read_csv("train_ctrUa4K.csv")

In [4]:
#test null value
loan.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
#Convert symbol
loan["Dependents"]=loan["Dependents"].replace(["3+"], "3")

In [6]:
loan

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
20,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,LP001052,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,LP001087,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,LP002911,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
585,LP002912,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
586,LP002916,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
587,LP002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
588,LP002925,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
589,LP002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
590,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
591,LP002931,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N
592,LP002933,NaN,No,3,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
593,LP002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
594,LP002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
595,LP002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
596,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
597,LP002943,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,LP002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
600,LP002949,Female,No,3,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
601,LP002950,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y
602,LP002953,Male,Yes,3,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
603,LP002958,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [7]:
#Check columns
len(loan.columns)

13

In [8]:
#Assign x and y
x=loan.iloc[:,1:-1].values

In [9]:
y=loan.iloc[:,-1].values

In [10]:
pd.DataFrame(x).isnull().sum()

0     13
1      3
2     15
3      0
4     32
5      0
6      0
7     22
8     14
9     50
10     0
dtype: int64

In [11]:
#Missing Value Treatment
from sklearn.impute import SimpleImputer
imp_gen = SimpleImputer(strategy="most_frequent")
x[:,0:12]= imp_gen.fit_transform(x[:,0:12])

In [12]:
#LabelEncoder - Change to numeric
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelx = LabelEncoder()
x[:,0] = labelx.fit_transform(x[:,0])
x[:,1] = labelx.fit_transform(x[:,1])
x[:,3] = labelx.fit_transform(x[:,3])
x[:,4] = labelx.fit_transform(x[:,4])
x[:,10] = labelx.fit_transform(x[:,10])

In [13]:
x[:,2]

array(['0', '1', '0', '0', '0', '2', '0', '3', '2', '1', '2', '2', '2',
       '0', '2', '0', '1', '0', '0', '0', '0', '1', '0', '2', '1', '0',
       '0', '2', '0', '2', '1', '0', '1', '0', '3', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '1', '0', '0', '0', '0', '0',
       '0', '2', '1', '2', '0', '0', '1', '2', '0', '3', '0', '1', '0',
       '0', '0', '1', '3', '0', '0', '2', '0', '3', '3', '0', '0', '1',
       '3', '3', '0', '1', '2', '0', '1', '0', '2', '0', '0', '0', '0',
       '2', '2', '0', '0', '0', '0', '0', '0', '0', '2', '0', '0', '0',
       '0', '1', '2', '0', '2', '3', '0', '0', '0', '1', '0', '1', '0',
       '1', '0', '0', '0', '0', '0', '2', '0', '0', '3', '0', '1', '0',
       '0', '0', '0', '0', '0', '3', '0', '2', '0', '2', '2', '0', '0',
       '0', '2', '0', '2', '1', '0', '0', '0', '0', '0', '2', '0', '3',
       '1', '1', '0', '0', '0', '0', '1', '2', '0', '0', '0', '0', '0',
       '2', '0', '3', '3', '0', '0', '0', '2', '3', '1', '0', '1', '0',
       '0', '1', '0', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0',
       '1', '0', '0', '0', '0', '1', '2', '3', '1', '2', '0', '0', '0',
       '0', '0', '0', '3', '1', '3', '0', '3', '0', '0', '2', '2', '0',
       '2', '0', '0', '0', '0', '0', '2', '0', '0', '1', '0', '0', '0',
       '1', '1', '0', '0', '1', '1', '2', '1', '0', '2', '0', '0', '2',
       '1', '1', '0', '0', '2', '0', '1', '0', '3', '0', '3', '0', '3',
       '1', '0', '1', '0', '0', '0', '2', '3', '0', '1', '0', '0', '0',
       '0', '2', '1', '0', '0', '0', '0', '1', '0', '2', '0', '0', '0',
       '0', '0', '0', '0', '0', '2', '2', '0', '0', '3', '1', '1', '0',
       '1', '0', '0', '0', '1', '0', '0', '0', '0', '0', '2', '0', '0',
       '0', '2', '0', '1', '2', '0', '1', '1', '0', '3', '2', '0', '3',
       '1', '0', '0', '0', '0', '1', '0', '0', '0', '1', '0', '1', '2',
       '3', '0', '3', '0', '1', '3', '2', '0', '0', '2', '0', '0', '0',
       '0', '3', '0', '0', '0', '2', '1', '0', '3', '1', '2', '0', '0',
       '0', '0', '0', '0', '1', '0', '0', '2', '2', '1', '0', '0', '3',
       '0', '0', '2', '0', '0', '0', '0', '2', '1', '0', '0', '0', '0',
       '3', '3', '0', '2', '2', '2', '0', '0', '0', '0', '2', '0', '0',
       '0', '0', '0', '0', '0', '1', '3', '1', '0', '0', '0', '0', '0',
       '1', '2', '0', '0', '0', '0', '0', '1', '0', '0', '1', '2', '0',
       '0', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '3', '1', '0', '1', '2', '0', '2', '1', '2', '2', '0', '0', '0',
       '2', '0', '0', '2', '0', '0', '3', '0', '1', '0', '0', '3', '0',
       '2', '0', '1', '1', '3', '0', '2', '2', '2', '2', '1', '2', '0',
       '3', '0', '0', '2', '1', '2', '1', '2', '0', '0', '1', '0', '0',
       '0', '1', '0', '0', '1', '0', '0', '0', '2', '1', '0', '2', '0',
       '0', '0', '1', '0', '1', '2', '0', '0', '3', '2', '0', '0', '0',
       '2', '0', '3', '2', '0', '2', '0', '1', '1', '0', '0', '3', '2',
       '1', '0', '0', '0', '2', '0', '3', '1', '0', '1', '1', '0', '0',
       '0', '0', '0', '0', '2', '1', '1', '0', '0', '1', '0', '3', '0',
       '0', '2', '1', '0', '0', '2', '0', '0', '3', '0', '0', '1', '0',
       '2', '2', '3', '2', '0', '0', '1', '0', '2', '0', '0', '1', '1',
       '1', '0', '0', '0', '2', '0', '2', '3', '0', '0', '0', '2', '0',
       '0', '2', '3', '0', '3', '0', '1', '0', '1', '2', '0', '0', '3',
       '1', '2', '0'], dtype=object)

In [14]:
#Category to multiple column with OneHotEncoder
onehotencoder = OneHotEncoder(categorical_features=[3])
x = onehotencoder.fit_transform(x).toarray()

D:\DS\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
D:\DS\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:392: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [15]:
#split data to train and test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.2)

In [16]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
logmodel=LogisticRegression()
logmodel.fit(x_train,y_train)

D:\DS\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [17]:
y_pred_log=logmodel.predict(x_test)

In [18]:
#Accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred_log)

0.7967479674796748

In [19]:
#KNN
from sklearn.neighbors import KNeighborsClassifier
class_knn=KNeighborsClassifier(n_neighbors=5, metric='minkowski',p=2)
class_knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [20]:
y_pred_knn=class_knn.predict(x_test)

In [21]:
#Accuracy
accuracy_score(y_test, y_pred_knn)

0.6016260162601627

In [22]:
#KNN
from sklearn.naive_bayes import GaussianNB
class_nb=GaussianNB()
class_nb.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [23]:
y_pred_nb=class_nb.predict(x_test)

In [24]:
#Accuracy
accuracy_score(y_test, y_pred_nb)

0.7804878048780488

In [25]:
#SVM - Linear
from sklearn.svm import SVC
class_linear=SVC(kernel='linear')
class_linear.fit(x_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [26]:
y_pred_linear=class_linear.predict(x_test)

In [27]:
#Accuracy
accuracy_score(y_test, y_pred_linear)

0.7723577235772358

In [28]:
#SVM - RBF
from sklearn.svm import SVC
class_rbf=SVC(kernel='rbf')
class_rbf.fit(x_train,y_train)

D:\DS\anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [29]:
y_pred_rbf=class_rbf.predict(x_test)

In [30]:
#Accuracy
accuracy_score(y_test, y_pred_rbf)

0.6829268292682927

In [31]:
#SVM - Sigmoid
from sklearn.svm import SVC
class_sigmoid=SVC(kernel='sigmoid')
class_sigmoid.fit(x_train,y_train)

D:\DS\anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='sigmoid', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [32]:
y_pred_sigmoid=class_sigmoid.predict(x_test)

In [33]:
#Accuracy
accuracy_score(y_test, y_pred_sigmoid)

0.6829268292682927

In [38]:
# # #Entropy - Decision Tree
from sklearn.tree import DecisionTreeClassifier
class_tree=DecisionTreeClassifier(criterion="entropy")
class_tree.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [39]:
y_pred_tree=class_tree.predict(x_test)

In [40]:
accuracy_score(y_test, y_pred_tree)

0.7235772357723578

In [41]:
from sklearn.ensemble import RandomForestClassifier
class_random = RandomForestClassifier(n_estimators=3, criterion="entropy")
class_random.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=3, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [42]:
y_pred_random=class_random.predict(x_test)

In [43]:
accuracy_score(y_test, y_pred_random)

0.7479674796747967

In [46]:
#Confusion Matrix
from sklearn.metrics import confusion_matrix
cmlog=confusion_matrix(y_test, y_pred_log)
cmknn=confusion_matrix(y_test, y_pred_knn)
cmnb=confusion_matrix(y_test, y_pred_nb)
cmlinear=confusion_matrix(y_test, y_pred_linear)
cmrbf=confusion_matrix(y_test, y_pred_rbf)
cmsigmoid=confusion_matrix(y_test, y_pred_sigmoid)
cmtree=confusion_matrix(y_test, y_pred_tree)
cmrandom=confusion_matrix(y_test, y_pred_random)

In [49]:
(cmlog[0,0]+cmlog[1,1])/sum(sum(cmlog))

0.7967479674796748

In [50]:
(cmknn[0,0]+cmknn[1,1])/sum(sum(cmknn))

0.6016260162601627

In [51]:
(cmnb[0,0]+cmnb[1,1])/sum(sum(cmnb))

0.7804878048780488

In [52]:
(cmlinear[0,0]+cmlinear[1,1])/sum(sum(cmlinear))

0.7723577235772358

In [53]:
(cmrbf[0,0]+cmrbf[1,1])/sum(sum(cmrbf))

0.6829268292682927

In [54]:
(cmsigmoid[0,0]+cmsigmoid[1,1])/sum(sum(cmsigmoid))

0.6829268292682927

In [55]:
(cmtree[0,0]+cmtree[1,1])/sum(sum(cmtree))

0.7235772357723578

In [56]:
(cmrandom[0,0]+cmrandom[1,1])/sum(sum(cmrandom))

0.7479674796747967